$rubik: "Rubik", sans-serif; //400

$lg-screen: 1200px;

$midnight: #181d31;
$blue: rgb(163, 195, 249);
$dark-blue: #6c94ca;
$light-blue: #fafdfe;

@use "@styles/mixin";

footer {
    width: 100%;
    padding: .2rem;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 10;
    font-family: $rubik;
    background-color: $midnight;

    @include mixin.userSelect(none);

    span {
        display: inline-block;
        position: relative;
        bottom: 0;
        left: 1rem;
        transform: rotate(-90deg);
        transform-origin: left;
        color: $light-blue;
    }

    a {
        position: absolute;
        bottom: 0.8rem;
        color: $light-blue;

        &:visited {
            color: $light-blue;
        }

        &:nth-child(1 of a) {
            top: -.25rem;
            left: 1.8rem;
        }

        &:nth-child(2 of a) {
            top: -.25rem;
            left: 8rem;
        }
    }

    @media screen and (max-width: $lg-screen) {
        // font-size: 1.5rem;
    }
}
