---
import MainLayout from "@layouts/MainLayout.astro";
import Navbar from "@components/navbar/Navbar.astro";
import { Contact } from "@components/contact/ContactForm";
import ContactSocials from "@components/contact/ContactSocials.astro";
import Footer from "@components/footer/Footer.astro";

import "@styles/pages/legal.scss";

const seo = {
    title: "Kontakt | TMP",
    description:
        "Verbinden Sie sich mit Phuong über LinkedIn oder GitHub. Nehmen Sie Kontakt per E-Mail auf oder verwenden Sie das Kontaktformular. Ich freue mich darauf, von Ihnen zu hören und Möglichkeiten zur Zusammenarbeit zu besprechen. Entdecken Sie verschiedene Kommunikationsoptionen, um in Verbindung zu bleiben.",
    keywords:
        "Kontaktinformation, LinkedIn-Profil, GitHub-Profil, E-Mail-Kontakt, Kontaktformular, Treten Sie in Kontakt, Erreichen Sie mich, Professionelles Netzwerken, Online-Präsenz, Kommunikationsoptionen, Kollaborationsmöglichkeiten",
};
---

<MainLayout seo={seo} lang="en">
    <Navbar lang="de" />
    <main>
        <h1>Legal</h1>

        <h2>Owner and Content</h2>
        <p>&copy; 2023 - 2024 Phuong Tran Mimh</p>

        <h2>Responsible party</h2>
        <ul>
            <li>Phuong Tran Mimh</li>
            <li>Brucknerstraße 46/2</li>
            <li>8010 Graz</li>
        </ul>

        <h2>Business Purpose</h2>
        <p>Creation, operation, and maintenance of websites</p>

        <h2>Contact</h2>
        <ul>
            <li><a href="mailto:contact@tranmp.com">contact@tranmp.com</a></li>
        </ul>
    </main>
    <Footer lang="de" />
</MainLayout>
