$kalam: "Kalam", sans-serif; //400

$sm-screen: 500px;
$md-screen: 750px;
$lg-screen: 1200px;
$lg2-screen: 1600px;
$xl-screen: 2000px;

$midnight: #181d31;
$light-blue: #fafdfe;

@use "@styles/mixin";

body {
    min-height: 100vh;

    & > div {
        background-color: $midnight;
    }
}

#gridCanvas[data-loaded="true"] {
    @include mixin.containerShadow(4px);

    @media screen and (max-width: 750px) {
        border: none;
        box-shadow: none;
    }
}

.about {
    margin: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    font-family: $kalam;
    background-color: $midnight;
    overflow: hidden;

    & > section {
        max-width: 100%;
        padding: 2rem 1rem;
        background-color: $light-blue;
        @include mixin.containerShadow(4px);
    }

    h1 {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
        &:nth-child(2) {
            margin: 1rem auto;
        }
    }

    .polaroid {
        width: fit-content;
        margin: 4rem;
        padding: 1rem 1rem 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #f9faf5;
        transform: rotate(15deg);

        &-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            top: -3.2rem;
        }

        a {
            margin-top: 1rem;
            letter-spacing: 1px;
            color: $midnight;

            &:visited {
                color: $midnight;
            }
        }

        &-paperclip {
            position: absolute;
            top: -15px;
        }

        &-image {
            max-width: 100%;
        }
    }

    // 500
    @media screen and (min-width: $sm-screen) {
        .polaroid {
            width: 70%;
            &-container {
                top: -2rem;
            }
        }
    }
    // 750
    @media screen and (min-width: $md-screen) {
        & > section {
            max-width: 90vw;
        }

        p {
            font-size: 1.15rem;
        }

        .polaroid {
            width: 60%;
            &-container {
                top: -2rem;
            }
        }
    }

    // 1200
    @media screen and (min-width: $lg-screen) {
        & > section {
            max-width: 900px;
        }

        .polaroid {
            width: 50%;
            &-container {
                max-width: 900px;
                top: -2.5rem;
            }
        }
    }

    // 1600
    @media screen and (min-width: $lg2-screen) {
        .polaroid {
            &-container {
                top: -2rem;
            }
        }
    }
    // 2000
    @media screen and (min-width: $xl-screen) {
        .polaroid {
            &-container {
                top: -1rem;
            }
        }
    }
}
