$kalam: "Kalam", sans-serif; //400

$brown: #cd5c08;
$turquoise: #3876bf;
$white: #fafdfe;
$midnight: #181d31;

@use "@styles/mixin";

root {
    --distanceMarginTop: 80px;
}

@mixin applyMarginTop($distance: null) {
    @if $distance {
        margin-top: calc(#{$distance} + 35px);
    }
}

@mixin showTextGradient() {
    background-position: top left 100%;
    border-image: linear-gradient(to left, $brown 0%, $turquoise 100%) 1;
}

html,
body {
    align-items: center;
    overscroll-behavior-y: none;
}

#particleCanvas {
    @include mixin.userSelect(none);
}

.introduction {
    margin: 12rem 1.5rem 1.5rem 1.5rem;
    padding: 1.4rem 1.4rem 1.2rem 1.4rem;
    width: fit-content;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: $midnight;
    background-color: $white;

    @include mixin.userSelect(none);
    @include mixin.containerShadow(4px);

    &__info {
        width: fit-content;
        height: 1rem;
        position: absolute;
        top: 0.1rem;
        right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-family: $kalam;
            font-size: 0.6rem;
            text-transform: uppercase;
        }

        svg {
            width: 40px;
            position: relative;
            top: -1.1rem;
            transform: scaleX(-1) rotate(-80deg);
            filter: invert(1);
            mix-blend-mode: difference;
        }
    }

    p {
        font-family: $kalam;
        font-size: 0.9rem;
        line-height: 2.1rem;
    }

    a {
        color: $midnight;
        display: inline-block;
        line-height: 1.5rem;
        border-bottom: 4px double $midnight !important;
        border-style: none;
        text-decoration: none;
        transition: font-size 0.2s ease-in-out;
        position: relative;
        z-index: 20;

        &:visited {
            color: $midnight;
        }

        span {
            display: inline-block;
            white-space: pre;
            pointer-events: none;

            border-style: none;
            text-decoration: none;
            border-bottom: 0px solid;
        }

        @media (pointer: fine) {
            &:hover {
                @for $i from 1 through 20 {
                    span:nth-child(#{$i}) {
                        @include mixin.jumpUp(calc(0.1s * #{$i}));
                    }
                }

                @media (prefers-reduced-motion) {
                    span:nth-child(n) {
                        animation: none;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 395px) {
        margin-top: 14rem;
    }

    @media screen and (min-width: 450px) {
        margin-top: 19rem;
    }

    @media screen and (min-width: 750px) {
        margin: 20rem auto 2rem auto;
        max-width: 600px;

        p {
            font-size: 1.15rem;
            line-height: 2.5rem;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-top: 23rem;
        max-width: 750px;
    }

    @media screen and (min-width: 1750px) {
        margin-top: 27rem;
    }

    @media screen and (min-width: 2000px) {
        margin-top: 30rem;
        max-width: 900px;
    }

    @media screen and (min-width: 2600px) {
        // apply margin-top based on distance from model
        @include applyMarginTop(calc(#{var(--distanceMarginTop, 350px)} + 4rem));
    }
}

.zigzag_underline {
    letter-spacing: 1.5px;
    padding-bottom: 0.55rem;
    background-image: repeating-linear-gradient(-45deg, $midnight, $midnight 1px, transparent 0, transparent 12px),
        repeating-linear-gradient(45deg, $midnight, $midnight 1px, transparent 0, transparent 12px);
    background-size: 16.5px 9px;
    background-position: 0 105%;
    background-repeat: repeat-x;
    animation: underline 1s infinite linear;

    @media (prefers-reduced-motion) {
        animation: none;
    }
}

@keyframes underline {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 16.5px;
    }
}
