@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&family=Playpen+Sans&family=Rubik&family=Ubuntu&display=swap');

$midnight: #181d31;
$light-blue: #fafdfe;

$playpen-sans: "Playpen Sans", "Comic Sans MS"; //400

$md-screen: 600px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: $midnight $light-blue;
}

html, body {
    overscroll-behavior: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: $midnight;
    border-radius: 14px;
    border: 3px solid $light-blue;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $midnight;
    
    header {
        width: 100%;
    }
}

main {
    flex-grow: 1;
}

.loading {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 10rem;
    z-index: 5;
    text-wrap: nowrap;
    color: $light-blue;
    font-family: $playpen-sans;

    h1 {
        letter-spacing: 1px;
    }

    &[data-loaded="true"] {
        display: none;
    }

    @media screen and (max-width: $md-screen) {
        font-size: 0.6rem;
    }
}

#screenRotation {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $midnight;
    z-index: 60;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    font-family: $playpen-sans;
    color: $light-blue;
    transition: opacity 0.2s ease-in-out;
    user-select: none;

    h1 {
        text-wrap: nowrap;
    }

    &[data-hide="true"] {
        display: none;
    }
}

@media screen and (max-width: 1000px) and (pointer: coarse) and (orientation: landscape) {
    #screenRotation {
        opacity: 1;
        visibility: visible;
    }

    html {
        overflow: hidden;
    }
}

@keyframes backdropFade {
    from {
        background: transparent;
    }
    to {
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(4px);
    }
}
