---
import MainLayout from "@layouts/MainLayout.astro";
import Footer from "@components/footer/Footer.astro";
import Navbar from "@components/navbar/Navbar.astro";
import Polaroid from "@components/polaroid/Polaroid.astro";

import "@styles/pages/about-me.scss";

const seo = {
    title: "Über Mich | TMP",
    description:
        "Willkommen auf meiner Webseite! Ich bin Phuong, ein leidenschaftlicher Webentwickler mit einem ausgeprägten Sinn für Design und benutzerfreundliche Funktionen. Entdecken Sie meine Expertise in den neuesten Technologien, die es mir ermöglichen, digitale Welten zu gestalten – visuell ansprechend und durchdacht funktional. Egal, ob es um die Anpassung an verschiedene Geräte, reibungslose technische Funktionalität oder die nahtlose Zusammenarbeit verschiedener Dienste geht – ich betrachte mein Handwerk stets mit einem umfassenden Blick für jedes Detail.",
    keywords:
        "Webentwicklung, Webdesign, Benutzerfreundlichkeit, Digitale Welten gestalten, Technologien in der Webentwicklung, Visuelle Anpassung von Webseiten, Technische Funktionalität, Nahtlose Zusammenarbeit von Diensten, Responsive Design, Leidenschaftlicher Webentwickler, Funktionales Design, Detailorientierte Webentwicklung, Cross-Device-Anpassung, Innovative Webseiten, Modernes Webdesign",
    image: {
        url: "https://res.cloudinary.com/dzvrnl80x/image/upload/v1705365310/my-portfolio/polaroid.webp",
        alt: "Foto am Arbeitsplatz",
        width: "2664",
        height: "2000",
    },
};
---

<MainLayout seo={seo} lang="de">
    <Navbar lang="de" />
    <main class="about">
        <section>
            <h1>Hey! Ich bin Phuong,</h1>
            <p>
                ein leidenschaftlicher Webentwickler mit einem Sinn für Design
                und benutzerfreundliche Funktionen. Meine Expertise in den
                neuesten Technologien ermöglicht es mir, digitale Welten zu
                gestalten, die nicht nur visuell ansprechend, sondern auch
                durchdacht funktional sind.
            </p>
            <p>
                Unabhängig davon, ob es um die visuelle Anpassung der Webseite
                an unterschiedliche Geräte, das reibungslose Funktionieren der
                technischen Aspekte oder die nahtlose Zusammenarbeit
                verschiedener Dienste geht &#45; ich betrachte mein Handwerk
                stets mit einem umfassenden Blick für jedes Detail.
            </p>
        </section>

        <Polaroid lang="de" />
    </main>
    <Footer lang="de" />
</MainLayout>
