---
import MainLayout from "@layouts/MainLayout.astro";
import Footer from "@components/footer/Footer.astro";
import Navbar from "@components/navbar/Navbar.astro";
import Polaroid from "@components/polaroid/Polaroid.astro";

import "@styles/pages/about-me.scss";

const seo = {
    title: "Über mich | TMP",
    description:
        "Lernen Sie Phuong kennen, einen leidenschaftlichen Webentwickler aus Österreich, der Einblicke in die spannende Welt der Webentwicklung teilt. Begleiten Sie mich auf diesem technischen Abenteuer und entdecken Sie meine digitalen Lösungen. Erfahren Sie mehr über meinen Weg vom Rettungsdienst zum engagierten Webentwickler, der die digitale Welt gestaltet.",
    keywords:
        "Webentwickler Reise, Technik-Enthusiast, Österreichischer Webentwickler, Unabhängiges Lernabenteuer, Hintergrund als Rettungssanitäter, Schöpfer digitaler Erlebnisse, Leidenschaft für Webentwicklung, Gestaltung der digitalen Welt, Innovativer Webentwickler, Problemlösungsfähigkeiten, Technisches Abenteuer",
    image: {
        url: "https://res.cloudinary.com/dzvrnl80x/image/upload/v1698667770/my-portfolio/portrait-about_me.webp",
        alt: "about me",
        width: "3024",
        height: "4023",
    },
};
---

<MainLayout seo={seo} lang="de">
    <Navbar lang="de" />
    <main class="about">
        <section>
            <h1>Hey! Ich bin Phuong,</h1>
            <p>
                ein leidenschaftlicher Webentwickler mit einem Sinn für
                ästhetisches Design und benutzerfreundliche Funktionen. Meine
                Expertise in den neuesten Technologien ermöglicht es mir,
                digitale Welten zu gestalten, die nicht nur visuell ansprechend,
                sondern auch durchdacht funktional sind.
            </p>
            <p>
                Von der Idee bis zur Umsetzung arbeite ich an individuellen
                Webanwendungen, die sich nahtlos in die moderne Online-Welt
                einfügen. Nicht nur beherrsche ich die Feinheiten von
                responsivem Design, Backend-Entwicklung und der Integration von
                APIs, sondern ich betrachte mein Handwerk auch mit einem
                umfassenden Blick für jedes Detail.
            </p>
        </section>

        <Polaroid />
    </main>
    <Footer lang="de" />
</MainLayout>
__todo__/about-me-image/AboutMeImage__todo__/grid-image/GridCanvas
