---
import type { Locale } from "@utils/utils";

type Props = {
    lang: Locale;
    preventScreenRotate?: "true" | "false";
};

const { lang, preventScreenRotate = "false" }: Props = Astro.props;
---

{
    preventScreenRotate ? (
        <div id="screenRotation" data-preventScreenRotate={preventScreenRotate}>
            <h1>
                {lang === "en"
                    ? "Please switch to portrait format"
                    : "Bitte auf Hochformat wechseln"}
            </h1>
        </div>
    ) : null
}
