---
import type { Props } from "@utils/utils";
import "@styles/components/footer.scss"

const { lang }: Props = Astro.props;
---

<footer>
    <span>&copy; 2023 - 2024 TMP</span>
    <a
        href={lang === "en" ? "/privacy" : "datenschutz"}
        aria-label={lang === "en"
            ? "Go to Data privacy page"
            : "Gehe zur Datenschutz Seite"}
    >
        {lang === "en" ? "Data privacy" : "Datenschutz"}
    </a>
    <a
        href={lang === "en" ? "/legal" : "/impressum"}
        aria-label={lang === "en"
            ? "Go to Data privacy page"
            : "Gehe zur Datenschutz Seite"}
    >
        {lang === "en" ? "Legal" : "Impressum"}
    </a>
</footer>
