---
import MainLayout from "@layouts/MainLayout.astro";
import Navbar from "@components/navbar/Navbar.astro";
import { Contact } from "@components/contact/ContactForm";
import ContactSocials from "@components/contact/ContactSocials.astro";
import Footer from "@components/footer/Footer.astro";

import "@styles/pages/legal.scss";

const seo = {
    title: "Impressum | TMP",
    description:
        "Impressum",
    keywords:
        "Impressum",
};
---

<MainLayout seo={seo} lang="de">
    <Navbar lang="de" />
    <main>
        <h1>Impressum</h1>

        <h2>Inhaber und Inhalte</h2>
        <p>&copy; 2023 - 2024 Phuong Tran Mimh</p>

        <h2>Verantwortlicher</h2>
        <ul>
            <li>Phuong Tran Mimh</li>
            <li>Brucknerstraße 46/2</li>
            <li>8010 Graz</li>
        </ul>

        <h2>Unternehmensgegenstand</h2>
        <p>Erstellung, Betreeung und Wartung von Webseiten</p>

        <h2>Kontakt</h2>
        <ul>
            <li><a href="mailto:kontakt@tranmp.com">kontakt@tranmp.com</a></li>
        </ul>
    </main>
    <Footer lang="de" />
</MainLayout>
