---
import MainLayout from "@layouts/MainLayout.astro";
import Footer from "@components/footer/Footer.astro";
import Navbar from "@components/navbar/Navbar.astro";
import Polaroid from "@components/polaroid/Polaroid.astro";

import "@styles/pages/about-me.scss";

const seo = {
    title: "About Me | TMP",
    description:
        "Welcome to my website! I'm Phuong, a passionate web developer with a keen sense of design and user-friendly functionality. Explore my expertise in the latest technologies, allowing me to craft digital worlds that are not only visually appealing but also thoughtfully functional. Whether it's adapting to different devices, ensuring smooth technical functionality, or seamlessly integrating various services—I approach my craft with a comprehensive eye for every detail.",
    keywords:
        "Web development, Web design, User-friendly, Crafting digital worlds, Technologies in web development, Visual adaptation of websites, Technical functionality, Seamless collaboration of services, Responsive design, Passionate web developer, Functional design, Detail-oriented web development, Cross-device adaptation, Innovative websites, Modern web design",
    image: {
        url: "https://res.cloudinary.com/dzvrnl80x/image/upload/v1705365310/my-portfolio/polaroid.webp",
        alt: "Photo at work",
        width: "2664",
        height: "2000",
    },
};
---

<MainLayout seo={seo} lang="en">
    <Navbar lang="en" />
    <main class="about">
        <section>
            <h1>Hey! I'm Phuong,</h1>
            <p>
                a passionate web developer with a sense for design and
                user-friendly features. My expertise in the latest technologies
                allows me to create digital worlds that are not only visually
                appealing but also thoughtfully functional.
            </p>
            <p>
                Whether it's about adapting the website visually for different
                devices, ensuring the smooth functioning of technical aspects,
                or facilitating the seamless collaboration of various services &#45;
                I always approach my craft with a comprehensive view for every
                detail.
            </p>
        </section>
        <Polaroid lang="en" />
    </main>
    <Footer lang="en" />
</MainLayout>
