---
import MainLayout from "@layouts/MainLayout.astro";
import Footer from "@components/footer/Footer.astro";
import Navbar from "@components/navbar/Navbar.astro";
import Polaroid from "@components/polaroid/Polaroid.astro";

import "@styles/pages/about-me.scss";

const seo = {
    title: "About Me | TMP",
    description:
        "Meet Phuong, a passionate web developer from Austria, sharing insights into the exciting world of web development. Join me on this tech adventure and explore my digital solutions. Learn about my journey from a paramedic to a dedicated web developer committed to crafting the digital world.",
    keywords:
        "Web Developer Journey, Tech Enthusiast, Austrian Web Developer, Independent Learning Adventure, Paramedic Background, Digital Experience Creator, Web Development Passion, Crafting the Digital World, Innovative Web Developer, Problem-solving Skills, Tech Adventure",
    image: {
        url: "https://res.cloudinary.com/dzvrnl80x/image/upload/v1705365310/my-portfolio/polaroid.webp",
        alt: "Photo at work",
        width: "2664",
        height: "2000",
    },
};
---

<MainLayout seo={seo} lang="en">
    <Navbar lang="en" />
    <main class="about">
        <section>
            <h1>Hey! I'm Phuong,</h1>
            <p>
                a passionate web developer with a sense for aesthetic design and
                user-friendly functionalities. My expertise in the latest
                technologies allows me to craft digital realms that are not only
                visually appealing but also thoughtfully functional.
            </p>
            <p>
                From conception to implementation, I work on custom web
                applications that seamlessly integrate into the modern online
                world. I not only master the intricacies of responsive design,
                backend development, and API integration, but I also approach my
                craft with a comprehensive perspective, paying attention to
                every detail.
            </p>
        </section>
        <Polaroid lang="en" />
    </main>
    <Footer lang="en" />
</MainLayout>
