---
import { GridCanvas } from "@components/grid-image/GridCanvas";
import MainLayout from "@layouts/MainLayout.astro";
import Footer from "@components/footer/Footer";
import Navbar from "@components/navbar/Navbar.astro";

import { AboutMeImage } from "@components/about-me-image/AboutMeImage";

import "@styles/pages/about-me.scss";

const seo = {
    title: "About Me | TMP",
    description:
        "Meet Phuong, a passionate web developer from Austria, sharing insights into the exciting world of web development. Join me on this tech adventure and explore my digital solutions. Learn about my journey from a paramedic to a dedicated web developer committed to crafting the digital world.",
    keywords:
        "Web Developer Journey, Tech Enthusiast, Austrian Web Developer, Independent Learning Adventure, Paramedic Background, Digital Experience Creator, Web Development Passion, Crafting the Digital World, Innovative Web Developer, Problem-solving Skills, Tech Adventure",
    image: {
        url: "https://res.cloudinary.com/dzvrnl80x/image/upload/v1698667770/my-portfolio/portrait-about_me.webp",
        alt: "about me",
        width: "3024",
        height: "4032",
    },
};
---

<MainLayout seo={seo} lang="en">
    <Navbar lang="en" />
    <div>
        <GridCanvas
            client:load
            lang="en"
            url="https://res.cloudinary.com/dzvrnl80x/image/upload/v1700324864/my-portfolio/banner-about_me.webp"
        />
    </div>
    <main class="about">
        <section>
            <h1>Hey! I'm Phuong,</h1>
            <p>
                a passionate web developer based in the beautiful land of
                Austria. My journey into the tech world began in the spring of
                2022, and since then, I've been on an exciting independent
                learning adventure.
            </p>
            <p>
                Prior to diving into the realm of web development, I worked as a
                paramedic, a role that instilled in me the significance of quick
                thinking, precision, and adaptability. These skills have proven
                to be incredibly valuable in my tech journey. While my paths may
                have shifted from saving lives to creating digital experiences,
                my commitment to excellence remains steadfast.
            </p>
            <p>
                I'm a firm believer that technology can shape the future in
                incredible ways, and I'm excited to be a part of that journey. I
                enjoy every aspect of web development, and I'm committed to
                creating solutions that make a difference. Join me on this
                exciting tech adventure, and let's build a better digital world
                together!
            </p>
        </section>
        <AboutMeImage client:load />
    </main>
    <Footer lang="en" client:visible />
</MainLayout>
